* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    font-family: 'Georgia', serif;
    background-color:rgb(216, 222, 135); 
    color: #333; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#main {
    width: 50%; 
    height: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff86; 
    border-radius: 15px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #2c3e50; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}

label {
    font-size: 1.2rem;
    color: #2c3e50; 
    margin-bottom: 10px;
}

.taskbox {
    display: flex;
    gap: 10px;
    align-items: center;
}

#taskinput {
    width: 250px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333; 
    transition: border-color 0.3s ease;
}

#taskinput:focus {
    border-color: #3498db; 
    outline: none;
}

button {
    padding: 0px 0px;
    height: 40px;
    width: 100px;
    background-color: #3498db; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out, background-color 0.2s ease;
    font-size: 16px;
    color: white;
}

button:hover {
    background-color: #2980b9; 
}

button:active {
    transform: scale(0.9);
}

.tasklist {
    list-style-type: none;
    padding: 0px;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
}

li span {
    padding-left: 10px;
    font-size: 18px;
    color: #333; 
}

.del {
    background-color: #e74c3c; 
    color: white;
}

.del:hover {
    background-color: #c0392b; 
}